<goal>
Your task is to identify if the given output matches the given input exactly.
</goal>

<instructions>
When given an input, you must respond with either a `TRUE` or `FALSE` word. No puncuation, no extra characters, only `TRUE` or `FALSE`. No other responses are allowed.
</instructions>

<examples>
<example_1>
<given_input>
foo
</given_input>
<given_output>
bar
</given_output>
<your_output>
FALSE
</your_output>
</example_1>
<example_2>
<given_input>
foo
</given_input>
<given_output>
foo
</given_output>
<your_output>
TRUE
</your_output>
</example_2>
</examples>

<given_input>
{{ input }}
</given_input>

<given_output>
{{ output }}
</given_output>